target
!.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Visual Studio Code ###
.vscode/

### Start Client ###
/start-client/public/
/start-client/node_modules/
/start-client/node/
/start-client/.env
/start-client/.cache/
/start-client/package-lock.json
/start-client/yarn-error.log
/start-client/analysis
### Vaadin (start-site) ###
/start-site/node_modules/
/start-site/node/
/start-site/package.json
/start-site/package-lock.json
/start-site/pnpm-lock.yaml
/start-site/tsconfig.json
/start-site/types.d.ts
/start-site/vite.generated.ts
/start-site/src/main/frontend/generated/
/start-site/src/main/bundles/
